* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

body {
  background: white;
  line-height: 1.3em;
  color: #99ba52;
  font-family: "myriad-pro",sans-serif;
  font-weight: normal;
  padding-bottom: 40px; }

.block-block a:hover {
  text-decoration: underline;
  font-weight: bold; }

h2, #page-title, .views-label-body {
  color: #80a82b;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 36px;
  text-shadow: 1px 1px 1px #969696;
  line-height: 1em; }

li {
  padding-bottom: 20px;
  padding-left: 10px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1); }

p, h3 {
  font-size: 16px;
  padding-bottom: 20px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1); }

a,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: underline; }

#header {
  background-image: url("../images/header-back.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  background-position: 20% top;
  background-position: calc(50% - 700px) top; }

#page-wrapper {
  position: relative; }

#page-wrapper > div {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.front {
  background-image: url("../images/home-page-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  position: relative;
  background-position: center;
  z-index: 0; }

#logo {
  float: left;
  position: relative;
  left: 13%;
  left: calc(13% + 100px); }
  #logo a {
    height: 50px;
    padding: 10px 0px;
    display: block; }

#banner {
  height: 600px;
  margin-top: -115px;
  background-image: url("../images/banner1.jpg");
  background-size: cover;
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -999999;
  position: relative; }

.page-node-3 #banner {
  background-image: url("../images/author-banner.jpg"); }

.page-node-4 #banner {
  background-image: url("../images/speaker-banner.jpg"); }

.page-node-23 #banner {
  background-image: url("../images/media-banner.jpg"); }

#social {
  float: right;
  right: 20px;
  top: 0;
  width: 150px;
  position: absolute;
  line-height: 50px; }
  #social #email {
    width: 30px;
    display: inline-block;
    padding-right: 20px; }
  #social #linkedin {
    display: inline-block; }
  #social #email a {
    font-size: 0;
    color: transparent;
    height: 20px;
    width: 24px;
    float: left;
    background-image: url("../images/email.png");
    background-position: bottom;
    padding-top: 10px;
    background-repeat: no-repeat;
    display: block; }
    #social #email a:after {
      content: "";
      display: block;
      position: absolute;
      left: -99999px; }
    #social #email a:hover, #social #email a:after {
      background-image: url("../images/email-hover.png"); }

#footer {
  background-image: url("../images/green-region-gradient.png");
  background-size: 100% 100%;
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999; }

#block-system-main-menu .contextual-links {
  margin-top: -100px; }

#block-system-main-menu .content li {
  display: inline-block;
  padding: 0;
  margin: 0;
  height: 53px;
  border-left: 1px solid #a0c05d;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  vertical-align: bottom;
  position: relative;
  width: 165px;
  margin-right: -3px; }
#block-system-main-menu .content a:hover {
  background-image: url("../images/menu-hover.png");
  background-size: 100% 100%;
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  background-repeat: no-repeat;
  display: block;
  margin-top: -20px; }
#block-system-main-menu .content a {
  padding: 15px 40px;
  color: white;
  font-size: 18px;
  text-decoration: none; }
#block-system-main-menu .content .expanded .menu > li {
  float: none;
  height: auto; }
#block-system-main-menu .content ul.menu {
  line-height: 50px;
  text-align: center; }
#block-system-main-menu .content .expanded li {
  height: auto; }
#block-system-main-menu .content li.expanded:hover {
  background: #a0c05d;
  box-shadow: 0px 1px 6px gray inset; }
  #block-system-main-menu .content li.expanded:hover a {
    margin-top: 0;
    padding: 0;
    background-image: none; }
#block-system-main-menu .content .expanded:hover > div {
  display: block;
  max-height: 400px;
  transition: max-height 0.4s;
  bottom: 50px; }
  #block-system-main-menu .content .expanded:hover > div a {
    display: block;
    padding: 0; }
  #block-system-main-menu .content .expanded:hover > div a:hover {
    background-image: none;
    margin-top: 0;
    background: #a0c05d;
    box-shadow: 0px 1px 6px gray inset; }
  #block-system-main-menu .content .expanded:hover > div > a {
    background: url("../images/menu-hover.png");
    padding-top: 14px;
    background-size: 100% 100%; }
  #block-system-main-menu .content .expanded:hover > div > a:hover {
    background: url("../images/menu-hover-top.png");
    box-shadow: none;
    padding-top: 14px;
    background-size: 100% 100%;
    margin-right: 0px; }
  #block-system-main-menu .content .expanded:hover > div li {
    border-left: 0;
    padding-right: 3px; }
  #block-system-main-menu .content .expanded:hover > div li:first-child {
    background-repeat: no-repeat;
    background-size: cover;
    -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
    display: block; }
#block-system-main-menu .content .expanded .menu {
  background: url("../images/menu-hover.png");
  background-size: 100% 100%;
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  width: 165px;
  padding-top: 22px; }
  #block-system-main-menu .content .expanded .menu:hover a {
    margin-top: 0; }
#block-system-main-menu .content .expanded > div {
  position: absolute;
  background-repeat: no-repeat;
  max-height: 0;
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc"); }
  #block-system-main-menu .content .expanded > div > ul a {
    padding: 0;
    font-size: 0.8em; }
  #block-system-main-menu .content .expanded > div a:hover {
    background-image: none;
    display: block;
    padding: 0; }
  #block-system-main-menu .content .expanded > div li.first a:hover {
    margin-top: 0; }

#white-region {
  background-image: url("../images/wave-back.png");
  background-repeat: repeat-x;
  background-position: calc(50% - 700px) top;
  margin-top: -254px;
  box-shadow: 0 4px 4px -2px gray;
  position: relative;
  z-index: 12; }

#white2-region a {
  color: #99ba52; }

#green-region {
  background: url("../images/green-region-gradient.png");
  background-size: 100% 100%;
  box-shadow: 0 4px 4px -2px gray;
  position: relative;
  z-index: 11; }

#grey-region {
  background: #b7b8bb;
  box-shadow: 0 4px 4px -2px gray;
  position: relative; }

#green-region,
#grey-region,
#white2-second {
  color: white;
  overflow: hidden; }

#green-region h2,
#grey-region h2,
#white2-second h2 {
  color: white; }

iframe {
  text-align: center;
  width: 587px; }

.region-white-region {
  padding-top: 100px; }

.region-content {
  background-image: url("../images/wave-back.png");
  background-position: calc(50% - 700px) top;
  background-repeat: repeat-x;
  margin-top: -200px; }

.tabs {
  margin-top: 50px;
  position: absolute; }

.messages.status {
  position: absolute;
  margin-top: 63px; }

.node-page {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px 10%; }
  .node-page .content {
    margin-top: 60px; }
    .node-page .content a {
      color: #99ba52;
      text-decoration: underline; }
    .node-page .content a:hover {
      text-decoration: underline; }

.front .tabs {
  display: none; }

.page-node-2 .tabs,
.page-node-3 .tabs,
.page-node-4 .tabs,
.page-node-23 .tabs,
.page-node-4 #content,
.page-node-23 #content {
  display: none; }

#node-2,
#node-3 {
  display: none; }

.page-user .region-content .content {
  padding-top: 145px; }

.page-user .tabs {
  margin-top: 50px; }

div#node-22 {
  text-align: center; }

.region-white-region a {
  color: #99ba52; }

#block-block-2 {
  padding-left: 20%; }
  #block-block-2 p {
    font-size: 28px;
    display: inline; }
  #block-block-2 #home-text {
    width: 480px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 4px -2px black;
    -moz-box-shadow: 0 4px 4px -2px black;
    -webkit-box-shadow: 0 4px 4px -2px black;
    zoom: 1; }
  #block-block-2 #text {
    color: #99ba52;
    padding-left: 40px;
    font-size: 28px;
    line-height: 1.2em; }
    #block-block-2 #text #para {
      position: relative; }
      #block-block-2 #text #para p {
        display: inline;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
      #block-block-2 #text #para:before {
        content: url("../images/left-quote.png");
        display: inline;
        position: absolute;
        left: -63px; }
      #block-block-2 #text #para:after {
        content: url("../images/quotes.png");
        display: inline;
        position: absolute;
        bottom: -29px; }
    #block-block-2 #text img {
      position: absolute; }
  #block-block-2 #top-menu {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 40px; }
    #block-block-2 #top-menu div {
      display: inline-block;
      border-right: 4px solid #b7b8bb;
      padding: 0 20px; }
    #block-block-2 #top-menu > div.last-one {
      border-right: 0; }
    #block-block-2 #top-menu > div.first-one {
      padding-left: 0; }
  #block-block-2 #name {
    font-size: 32px;
    padding-top: 41px;
    height: 50px;
    text-align: right;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
    #block-block-2 #name #first-name {
      color: #b7b8bb;
      padding-right: 10px; }
    #block-block-2 #name #last-name {
      color: #99ba52; }
    #block-block-2 #name > div {
      display: inline-block; }

.gradient, #block-block-2 #home-text, #block-block-3 #featured {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(99%, rgba(255, 255, 255, 0.4)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff',GradientType=0 );
  /* IE6*/ }

#block-block-3 {
  color: #99ba52;
  margin: 40px auto;
  padding: 0px 10%;
  max-width: 1000px;
  margin-bottom: 5px; }
  #block-block-3 h2 {
    font-size: 16px;
    padding-left: 50px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
  #block-block-3 img {
    padding-right: 3%;
    vertical-align: middle; }
  #block-block-3 #featured {
    text-align: center;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 4px -2px black;
    -moz-box-shadow: 0 4px 4px -2px black;
    -webkit-box-shadow: 0 4px 4px -2px black; }
    #block-block-3 #featured p {
      padding-bottom: 0px; }
  #block-block-3 #featured img:last-child {
    padding-right: 0px; }

#block-block-4 {
  margin-top: -150px;
  position: relative;
  z-index: -9999;
  display: none; }
  #block-block-4 img {
    width: 100% !important; }

#block-block-5 {
  overflow: hidden; }
  #block-block-5 #image {
    float: right;
    margin-top: -60px;
    text-align: right; }
    #block-block-5 #image img {
      margin-bottom: -4px; }
  #block-block-5 h2 {
    padding-left: 7%; }
  #block-block-5 h2:before {
    content: url("../images/leaves.png");
    display: inline-block;
    position: relative;
    top: 7px;
    right: 6px;
    width: 20px; }
  #block-block-5 #text {
    width: 51%;
    float: left;
    padding-left: 7%; }

.page-node-2 .region-white-region {
  padding-top: 0px; }
.page-node-2 #block-block-5 h2 {
  padding-top: 100px; }
.page-node-2 #block-block-5 #image {
  margin-top: -125px; }

#block-block-1 {
  height: 150px;
  max-width: 1220px;
  margin: 0 auto;
  position: relative; }
  #block-block-1 .content {
    max-width: 1220px;
    margin: 0 auto; }

#block-block-7,
#block-block-9 {
  float: left;
  margin-left: -4%;
  background-repeat: no-repeat;
  height: 363px; }
  #block-block-7 img,
  #block-block-9 img {
    display: none; }

#block-block-7 {
  background-image: url("../images/charity.jpg");
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  background-size: cover;
  width: 39%; }

#block-block-9 {
  margin-left: -4%;
  width: 38%;
  width: calc(37% + 5px);
  background-image: url("../images/mentor.jpg");
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  background-size: cover;
  position: relative; }

#block-block-6 {
  background-image: url("../images/charity-background.png");
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  background-size: cover; }
  #block-block-6 h2:before {
    content: url("../images/red-cross.png");
    display: inline-block;
    position: relative;
    top: 7px;
    padding-right: 6px; }

#block-block-8,
#block-block-6 {
  background-repeat: no-repeat;
  position: relative;
  width: 65%;
  min-height: 363px;
  background-size: 100% 100%;
  float: left;
  z-index: 2; }
  #block-block-8 h2,
  #block-block-6 h2 {
    padding-left: 11%;
    padding-top: 20px; }
  #block-block-8 .content,
  #block-block-6 .content {
    padding-left: 11%;
    padding-bottom: 30px;
    padding-right: 90px; }

#block-block-8 {
  background-image: url("../images/grey-background.png");
  -ms-behavior: url("/sites/all/themes/barbato/css/backgroundsize.htc");
  width: 66%; }
  #block-block-8 h2:before {
    content: url("../images/mentor.png");
    display: inline-block;
    position: relative;
    top: 7px;
    padding-right: 6px; }

#block-block-10 {
  text-align: center;
  padding-bottom: 40px; }

#block-block-11 {
  padding: 50px 30px;
  margin: 0 auto;
  max-width: 820px;
  overflow: hidden; }
  #block-block-11 li {
    padding-left: 0px; }

#author-text {
  padding-left: 0px; }

#author-text-list {
  padding-left: 20px; }

ul.link-title li {
  display: inline-block;
  width: 300px;
  padding: 20px;
  line-height: 50px; }
ul.link-title a {
  font-size: 22px;
  padding: 13px 15px;
  text-decoration: none; }
  ul.link-title a:hover {
    background-color: #a0c05d;
    background-image: url("../images/link-title-leaf.png");
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: 0px 0px 20px #80a82b inset;
    -moz-box-shadow: 0px 0px 20px #80a82b inset;
    -webkit-box-shadow: 0px 0px 20px #80a82b inset;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='$dark-green')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=20, Direction=135, Color='$dark-green');
    text-decoration: none; }

#block-block-12 {
  min-height: 170px;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1220px;
  text-align: center; }

#block-block-13 {
  text-align: center;
  padding: 40px; }

#block-block-14 {
  max-width: 840px;
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: 40px; }
  #block-block-14 h2:before {
    content: url("../images/speaker.png");
    display: inline-block;
    position: relative;
    top: 10px;
    width: 40px; }
  #block-block-14 li {
    margin-left: 20px; }
  #block-block-14 ul {
    -webkit-column-count: 2; }

#block-block-15 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center; }
  #block-block-15 .content {
    width: 500px;
    margin: 0 auto; }

#block-block-16 {
  text-align: center;
  padding: 40px; }

#block-block-17 {
  display: none; }

#block-views-media-video-list-view-block {
  width: 100%;
  background: white; }
  #block-views-media-video-list-view-block > h2 {
    display: block;
    font-size: 36px;
    margin: 0 auto;
    font-weight: normal;
    max-width: 1000px;
    padding-left: 70px; }
    #block-views-media-video-list-view-block > h2:before {
      content: url("../images/media-icon.png");
      display: inline-block;
      position: relative;
      padding-right: 6px; }

#block-views-media-logos-block {
  padding-bottom: 50px; }
  #block-views-media-logos-block .views-row {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer; }
    #block-views-media-logos-block .views-row p {
      font-size: 28px;
      padding-bottom: 0;
      text-shadow: 1px 1px 1px #969696; }
    #block-views-media-logos-block .views-row:hover {
      background-color: #a0c05d;
      background-image: url("../images/link-title-leaf.png");
      background-repeat: no-repeat;
      background-position: left;
      box-shadow: 3px 0px 20px #80a82b inset;
      -moz-box-shadow: 3px 0px 20px #80a82b inset;
      -webkit-box-shadow: 3px 0px 20px #80a82b inset;
      text-decoration: none;
      padding: 0 10px 0px 10px;
      color: white;
      background-size: contain; }
  #block-views-media-logos-block #inspire {
    width: 250px; }
    #block-views-media-logos-block #inspire:hover img {
      display: none; }
    #block-views-media-logos-block #inspire img {
      width: 250px !important;
      height: 35px !important; }
    #block-views-media-logos-block #inspire:hover {
      background-image: url("../images/inspire-career-white.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%; }
    #block-views-media-logos-block #inspire:hover p:before {
      content: '';
      display: inline-block;
      position: relative;
      top: 13px;
      width: 30px;
      margin-top: -10px;
      left: -110px; }
  #block-views-media-logos-block .view-content {
    line-height: 50px;
    text-align: center; }
    #block-views-media-logos-block .view-content img {
      vertical-align: middle; }

.view-media-video-list-view {
  position: relative;
  width: 96%;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  font-weight: 600;
  height: 370px;
  max-width: 1000px; }
  .view-media-video-list-view #next, .view-media-video-list-view #prev {
    font-size: 0;
    color: transparent;
    height: 40px;
    width: 30px;
    background-repeat: no-repeat; }
  .view-media-video-list-view #next {
    background-image: url("../images/right-grey.png");
    right: 0; }
    .view-media-video-list-view #next:hover {
      background-image: url("../images/right-arrow.png"); }
  .view-media-video-list-view #prev {
    background-image: url("../images/left-grey.png"); }
    .view-media-video-list-view #prev:hover {
      background-image: url("../images/left-green.png"); }
  .view-media-video-list-view .view-content {
    position: relative; }
  .view-media-video-list-view .view-header #prev,
  .view-media-video-list-view .view-footer #next {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    cursor: pointer; }
  .view-media-video-list-view .view-footer .next {
    right: 0; }
  .view-media-video-list-view .views-field-body {
    float: left;
    width: 45%; }
    .view-media-video-list-view .views-field-body .field-content {
      padding: 0 40px; }
  .view-media-video-list-view .views-field-field-video {
    float: right;
    padding-right: 40px;
    width: 510px; }
    .view-media-video-list-view .views-field-field-video iframe {
      width: 510px !important;
      height: 316px; }
  .view-media-video-list-view .views-row {
    position: relative;
    float: left;
    width: 30%; }
    .view-media-video-list-view .views-row .field-content {
      vertical-align: middle; }
    .view-media-video-list-view .views-row:hover .views-field-title {
      display: block; }

.view-text-rotator {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  font-weight: 600;
  padding: 30px 0px; }
  .view-text-rotator #next, .view-text-rotator #prev {
    font-size: 0;
    color: transparent;
    height: 40px;
    width: 30px;
    background-repeat: no-repeat; }
  .view-text-rotator #next {
    background-image: url("../images/right-arrow.png");
    right: 0; }
  .view-text-rotator #prev {
    background-image: url("../images/left-arrow.png"); }
  .view-text-rotator .view-content {
    position: relative; }
  .view-text-rotator .view-header #prev,
  .view-text-rotator .view-footer #next {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -30px;
    cursor: pointer; }
  .view-text-rotator .view-footer .next {
    right: 0; }
  .view-text-rotator .views-field-body {
    text-align: center;
    padding: 0 20%; }
    .view-text-rotator .views-field-body .views-label-body {
      background-image: url("../images/media.png");
      background-repeat: no-repeat;
      font-size: 0;
      color: transparent;
      height: 40px;
      display: block;
      margin: 0 40px; }
    .view-text-rotator .views-field-body .field-content {
      padding: 0 40px; }
  .view-text-rotator .views-field-field-video {
    float: left; }
  .view-text-rotator .views-row {
    position: relative;
    float: left;
    width: 30%;
    text-align: center; }
    .view-text-rotator .views-row .field-content {
      vertical-align: middle; }
    .view-text-rotator .views-row .views-field-title {
      font-size: 36px;
      display: block;
      padding: 20px 0px; }
  .view-text-rotator ul.indicators {
    z-index: 9999;
    text-align: center; }
    .view-text-rotator ul.indicators li.active {
      opacity: 1; }
    .view-text-rotator ul.indicators li {
      width: 30px;
      height: 30px;
      color: transparent;
      font-size: 0;
      background-image: url("../images/green-dot.png");
      background-position: center center;
      padding: 10px;
      background-repeat: no-repeat;
      display: inline-block;
      opacity: 0.3;
      cursor: pointer; }

@media screen and (max-width: 1220px) {
  #logo {
    left: 15%; }

  #header {
    background-position: 20% top; }

  .page-node-2 #block-block-5 #image {
    margin-top: 0; } }
@media screen and (max-width: 1160px) {
  #block-block-7 {
    height: 405px; }

  #featured {
    text-align: center; } }
@media screen and (max-width: 1100px) {
  .front {
    background-position: calc(73% + 27px) center; } }
@media screen and (max-width: 1060px) {
  #block-block-5 {
    padding-left: 3%; }
    #block-block-5 #image {
      text-align: right;
      bottom: 0;
      position: absolute;
      right: 0; }
      #block-block-5 #image img {
        width: 373px !important;
        height: auto !important; }
    #block-block-5 #text {
      width: 55%;
      padding-left: 0; }

  #block-block-5 h2 {
    padding-left: 0; }

  #block-block-6 .content,
  #block-block-8 .content,
  #block-block-8 h2,
  #block-block-6 h2 {
    width: 90%;
    padding: 10px 5%; }

  #block-system-main-menu .content a {
    padding: 15px 10px; }

  #block-system-main-menu .content li {
    width: 100px; }

  #header {
    background-position: calc(40% + 185px) top; }

  #white-region {
    background-position: calc(40% + 185px) top; }

  #block-block-7 {
    height: 363px; }

  .view-media-video-list-view {
    height: auto; }

  .view-media-video-list-view {
    height: auto; }
    .view-media-video-list-view .views-field-body,
    .view-media-video-list-view .views-field-field-video {
      float: none;
      margin: 0 auto;
      padding-right: 0; }
      .view-media-video-list-view .views-field-body iframe,
      .view-media-video-list-view .views-field-field-video iframe {
        width: 80%; }
      .view-media-video-list-view .views-field-body .field-content,
      .view-media-video-list-view .views-field-field-video .field-content {
        padding: 0; }
    .view-media-video-list-view .views-field-field-video {
      text-align: center; }

  #block-system-main-menu .content .expanded .menu {
    width: 100%; } }
@media screen and (max-width: 960px) {
  #logo {
    left: 8%; }

  #block-block-8, #block-block-6 {
    width: 100%;
    background-size: cover;
    padding-bottom: 45px;
    min-height: initial; }

  #block-block-6 {
    background-image: url("../images/charity-mobile.png"); }

  #block-block-7,
  #block-block-9 {
    width: 104%;
    margin-top: -68px;
    background-size: cover;
    background-position: center top; }

  #block-block-8 {
    background-image: url("../images/mentor-mobile.png"); } }
@media screen and (max-width: 768px) {
  #block-block-5 {
    width: 100%;
    padding-left: 0; }
    #block-block-5 h2 {
      padding-left: 5%; }
    #block-block-5 #text {
      width: 90%;
      padding: 0 5%; }
    #block-block-5 #image {
      position: relative;
      margin-top: 0; }

  #social {
    top: -4px; }

  #logo {
    float: none;
    left: 10px;
    top: 5px;
    position: relative;
    text-align: left; }

  #block-block-4 img {
    height: auto !important;
    width: 100% !important;
    min-height: 480px; }

  #block-block-2 {
    padding-left: 5%; }
    #block-block-2 #text {
      margin: 0 auto;
      padding: 0 20px; }

  #block-block-3 {
    padding-left: 5%; }

  #header {
    background-position: calc(39% + 145px) top; }

  #white-region {
    background-position: calc(126% + 145px) top; }

  #block-block-11 #author-text,
  #block-block-11 #author-text-list {
    float: none;
    width: 100%; }

  #block-block-16 ul.link-title a:hover {
    background-color: transparent;
    box-shadow: none;
    background-image: none; }
    #block-block-16 ul.link-title a:hover:before {
      display: none; }

  .view-media-video-list-view .views-field-body {
    width: 80%; }
    .view-media-video-list-view .views-field-body .views-label-body {
      margin: 0; }

  .not-front #banner {
    display: none; }

  #white-region {
    margin-top: 0;
    background-image: none; }
    #white-region .region-white-region {
      padding-top: 0; }

  #block-block-6, #block-block-8 {
    padding-bottom: 30px; }

  .view-text-rotator .views-field-body {
    padding: 0; }

  .region-content {
    background-image: none;
    margin-top: 0; }

  .node-page .content {
    margin-top: 0; }

  .node-page {
    padding: 40px 5%; }

  .tabs {
    margin-top: 0;
    position: relative; }

  .node-page {
    padding-top: 0; }

  .page-node-2 #block-block-5 h2 {
    padding-top: 0; } }
@media screen and (max-width: 680px) {
  #block-block-2 {
    padding-left: 10px;
    padding-right: 10px; }

  #block-block-3 {
    padding-left: 20px;
    padding-right: 20px; }

  div#node-22 {
    text-align: center; }
    div#node-22 iframe {
      min-height: 300px;
      height: auto;
      width: 100%; } }
@media screen and (min-width: 641px) {
  #block-system-main-menu .content {
    display: block !important; } }
@media screen and (max-width: 640px) {
  body {
    padding-bottom: 0; }

  table {
    width: 100% !important; }
    table td {
      width: 200px;
      padding: 10px; }

  #social {
    z-index: 99999;
    right: -75px;
    top: 10px; }
    #social #email {
      padding-right: 0px; }
      #social #email a {
        background-image: url("../images/mobile-email.png");
        background-position: center center; }
    #social #linkedin a {
      background-image: url("../images/mobile-linkedin.png");
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      display: block;
      background-position: center center; }
      #social #linkedin a img {
        display: none; }
    #social #email a:hover {
      background-image: url("../images/mobile-email.png"); }

  .view-media-video-list-view .views-field-field-video {
    width: auto; }
    .view-media-video-list-view .views-field-field-video iframe {
      width: 80% !important;
      height: 250px; }

  #white-region {
    margin-top: 10px; }

  #header {
    background-position: calc(96% + 145px) bottom; }

  #content-home {
    padding-top: 20px; }

  #logo {
    text-align: center;
    left: 0;
    padding: 55px 5px; }

  #block-views-media-video-list-view-block .views-row-4 img {
    width: 100% !important;
    height: auto !important; }

  #block-block-10 iframe {
    width: 90%;
    height: 300px; }

  .front {
    background-position: calc(73% + 27px);
    background-size: cover; }

  #footer {
    position: absolute;
    top: 0; }

  #block-system-main-menu .content {
    width: 200px;
    position: absolute;
    background: #80a82b;
    display: none; }
    #block-system-main-menu .content a {
      padding: 0;
      width: 200px;
      display: block;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
    #block-system-main-menu .content .first a {
      display: block; }
    #block-system-main-menu .content li {
      display: block;
      width: 100%;
      text-align: center;
      border-left: 0;
      height: auto; }
      #block-system-main-menu .content li a:hover {
        background-image: none;
        background: #a0c05d;
        box-shadow: 0px 1px 6px gray inset;
        -moz-box-shadow: 0px 1px 6px gray inset;
        -webkit-box-shadow: 0px 1px 6px gray inset;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
        display: block;
        margin-top: 0; }
    #block-system-main-menu .content li.expanded:hover {
      background: none; }
    #block-system-main-menu .content .expanded:hover {
      background-image: none; }
      #block-system-main-menu .content .expanded:hover > div {
        bottom: 0; }
      #block-system-main-menu .content .expanded:hover > div > a {
        background-image: none;
        background: none;
        padding-top: 0; }
      #block-system-main-menu .content .expanded:hover > div > a:hover {
        background: #a0c05d;
        padding-top: 0; }
    #block-system-main-menu .content .expanded ul.menu {
      display: block;
      margin-top: 0;
      padding-top: 0;
      position: relative;
      top: 0px;
      background: none;
      background-image: none; }
      #block-system-main-menu .content .expanded ul.menu a {
        font-size: 0.8em; }
      #block-system-main-menu .content .expanded ul.menu .first a {
        padding-top: 0; }
      #block-system-main-menu .content .expanded ul.menu .first a:hover {
        background: #a0c05d;
        box-shadow: 0px 1px 6px gray inset;
        -moz-box-shadow: 0px 1px 6px gray inset;
        -webkit-box-shadow: 0px 1px 6px gray inset;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444'); }
    #block-system-main-menu .content .expanded > div {
      position: relative;
      max-height: initial;
      background-image: none; }

  ul.link-title li {
    width: 100%;
    padding: 10px 0px; }

  #block-block-13 {
    padding: 20px 5%; }

  #block-block-17 {
    display: block; }
    #block-block-17 p {
      padding-bottom: 0; }
    #block-block-17 .content a {
      color: transparent;
      background-image: url("../images/menu-btn.png");
      background-repeat: no-repeat;
      font-size: 0px;
      display: block;
      height: 30px;
      width: 100px;
      vertical-align: middle;
      margin: 10px; }

  #block-block-2 #text #para {
    padding: 0px 5%; }
    #block-block-2 #text #para:before {
      content: url("../images/mobile-left-quote.png");
      left: 0; }
    #block-block-2 #text #para:after {
      content: url("../images/mobile-right-quote.png");
      bottom: 0px; }

  #block-block-2 p {
    font-size: 22px; }

  #block-block-2 #home-text {
    width: 90%;
    padding: 5%; }
  #block-block-2 #text {
    padding: 0; }
    #block-block-2 #text p {
      font-size: 22px; }

  #block-block-2 #top-menu {
    padding-left: 0;
    padding-bottom: 20px;
    text-align: center; }

  html {
    height: auto; }

  #block-block-14 {
    padding: 0 5%; }

  #block-block-11 {
    padding: 50px 5%; }
    #block-block-11 #author-text-list,
    #block-block-11 ul {
      width: 90%;
      padding: 0 5%; }

  #block-block-16 {
    padding: 0; }

  .node-page {
    padding: 40px 5%;
    padding-top: 10px; }
    .node-page ul {
      width: 90%;
      padding: 0 5%; }

  #logo {
    left: 0;
    padding: 55px 5px; }
    #logo img {
      width: 250px !important;
      height: auto !important; } }
@media screen and (max-width: 480px) {
  #block-block-12 ul.link-title,
  #block-block-16 ul.link-title {
    -webkit-column-count: 1; }

  .view-text-rotator .views-field-title {
    line-height: initial;
    padding: 10px 0px; }
  .view-text-rotator .views-field-body .field-content {
    padding: 0 5%; }

  #block-block-5 #image {
    width: 90%; }
    #block-block-5 #image img {
      width: 100% !important;
      bottom: -4px;
      position: relative; }

  #block-block-3 {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px; }
    #block-block-3 h2 {
      padding-left: 10px; }
    #block-block-3 #featured {
      padding-left: 5px; }
    #block-block-3 img {
      padding-right: 10px;
      padding-bottom: 10px; }

  #block-block-2 #text {
    line-height: initial;
    padding: 0; }
    #block-block-2 #text #para:before {
      content: url("../images/mobile-left-quote.png");
      left: 0; }
    #block-block-2 #text #para:after {
      content: url("../images/mobile-right-quote.png");
      bottom: -18px; }
    #block-block-2 #text #para p {
      font-size: 16px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  #block-block-2 #name {
    font-size: 22px;
    padding-left: 45%; }
  #block-block-2 #top-menu {
    padding-bottom: 10px;
    text-align: center; }
    #block-block-2 #top-menu div {
      font-size: 28px;
      padding: 0 5px; }
  #block-block-2 p {
    padding-bottom: 10px; }

  #block-block-10 img {
    width: 80% !important;
    height: auto !important; }

  #header {
    background-position: calc(93% + 145px) bottom; }

  #block-block-15 .content {
    width: 90%;
    padding: 0 5%; }

  #block-block-14 ul {
    -webkit-column-count: 1; }

  #block-block-8, #block-block-6 {
    background-position: 13%;
    padding-bottom: 10px;
    margin-top: -2px; }

  #block-block-7, #block-block-9 {
    margin-top: -37px; } }
@media screen and (max-width: 440px) {
  html {
    height: auto; }

  .view-media-video-list-view .views-field-body img {
    width: 90% !important;
    height: auto !important; }

  #block-block-2 #home-text {
    width: 87%;
    padding: 7%;
    padding-top: 0; }
  #block-block-2 #text #para:before {
    left: -19px; }
  #block-block-2 #text #para:after {
    bottom: -14px; }

  #block-block-2 #top-menu div {
    padding: 0 5px; }

  #header {
    background-position: calc(89% + 145px) bottom; }

  #block-block-2 #name {
    padding-left: 30%;
    padding-top: 20px; }

  #block-block-2 #text {
    font-size: 22px; }

  #block-block-2 #top-menu div {
    font-size: 22px; }

  .view-text-rotator ul.indicators li {
    padding: 5px; }

  #logo {
    left: 0;
    padding: 55px 5px; }
    #logo img {
      width: 250px !important;
      height: auto !important; }

  #block-block-8, #block-block-6 {
    background-position: 21%; } }
@media screen and (min-height: 850px) and (max-width: 1620px) {
  html {
    height: 100%; } }
